@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    --marquee-speed: ;
    --marquee-hover-offset: -10px;
    --marquee-hover-transition-speed: 0.5s;
    --marquee-fade-edges: 50%;
}

.marquee-body {
    font-size: 1.1rem;
    font-family: 'Lora';
    overflow: hidden;
}


marquee {
    /* background-color: white; */
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
/* 
    &,
    > div {
        display: flex;
        white-space: nowrap;
        gap: 15px;
    }

    > div {
        animation: animate-marquee var(--marquee-speed) infinite linear;
        transition: var(--marquee-hover-transition-speed) margin-left ease-out;
        will-change: transform, margin-left;
    }

    &:hover > div {
        animation-play-state: paused;
        margin-left: var(--marquee-hover-offset);
    }
    }

    @keyframes animate-marquee {
    0% {
        transform: translateX(0%) translateZ(0);
    }
    100% {
        transform: translateX(-100%) translateZ(0);
    } */
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    from {
    transform: translateX(100%);
    }
    to {
    transform: translateX(-100%);
    }
}